* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Vollkorn', serif;
  padding: 90px 40px;
  color: #292524;
}

.title-section {
  background-image: url('../img/title.webp');
  /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  height: 40vh;
  /* 1/3 of the viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.login {
  background-color: blueviolet;
  color: white;
}

.signup {
  background-color: #a528a7;
  color: white;
}

.btn:hover {
  opacity: 0.8;
}

.card-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  margin: 20px 30px;
  background-color: #F8F9FA;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.btn-primary {
  background-color: black;
}