* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Vollkorn', serif;
  padding: 90px 40px;
  color: #292524;
}

.title-section {
  background-image: url('../img/cocktail-poster.png');
  background-size: cover;
  background-position: center;
  height: 40vh;
  /* 1/3 of the viewport height */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.title-section h1 {
  color: #292524;
  font-weight: 700;
}

.login {
  color: #292524;
  font-weight: bold;
  border: solid;
  border-color: #292524;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.3s;
}

.signup {
  color: #292524;
  font-weight: bold;
  border: solid;
  border-color: #292524;
  margin-left: 10px;
  margin-right: 10px;
  transition: 0.3s;
}

.login:hover {
  transform: scale(110%);
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  -webkit-background-clip: text;
  color: transparent;
}

.signup:hover {
  transform: scale(110%);
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  -webkit-background-clip: text;
  color: transparent;
}

.card-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card {
  width: 60rem;
  height: auto;
  margin: 20px 10px;
  background-color: #F8F9FA;
  border: none;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.image-container img {
  width: 100%;
  height: 25rem;
  object-fit: cover;
}

.card-body .btn-explore {
  color: #F8F9FA;
  font-weight: bold;
  border: none;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  transition: 0.3s;
}

.card-body .btn-explore:hover {
  transform: scale(110%);
}