* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Vollkorn', serif;
    padding: 90px 40px;
    color: #292524;
}


.thumbnail-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.thumb-container {
    margin-bottom: 20px;
    margin-top: 20px;
}

.thumb-container .card {
    background-color: #e7e5e4;
    border: none;
}

.my-dropdown-button {
    width: 60%;
    margin: 0 auto;
    display: block;
    background-color: aliceblues;
}

.card-body .btn-explore {
    background-color: #fafafa;
}