body {
    padding-top: 70px;
    background-color: black;
}

.thumbnail-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.thumb-container {
    margin-bottom: 20px;
    margin-top: 20px;
}

.my-dropdown-button {
    width: 60%;
    margin: 0 auto;
    display: block;
    background-color: aliceblues;
}
